


<div class="container">



  <div class="row">
    <div class="col-md-5">
        <h1>Select a Movie</h1>
        <h2>Choose Filters</h2>

        <form class="form-group my-4" method ="POST" action="/search">

            <h4>Title</h4>
            <label class="sr-only" for="inlineFormInputName2">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="movieTitle" id="movieTitle" placeholder="Rush Hour 2">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>    
        </form>
        <form class="form-group">
          <label class="sr-only" for="inlineFormInputName2">Name</label>
  
          <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="1905">
  
          <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="2020">
  
          <button type="submit" class="btn btn-primary mb-2">Submit</button>       
        </form>
    </div>
    
    {{#if firstMovie.poster_path }}
    <div class="col-md-7">
        <img class="img-responsive float-right search-first-img " src="http://image.tmdb.org/t/p/w185/{{ firstMovie.poster_path }}" alt="{{firstMovie.original_title}}">
    </div>
    {{/if}}
</div>


    <div class="row">
        {{#each movies}}
            {{#if poster_path }}
                {{#if @first}}
                {{else}}
                <div class="col-md-4">
                    <img class="img-responsive search-img" src="http://image.tmdb.org/t/p/w185/{{ poster_path }}" alt="{{original_title}}">
                </div> 
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</div>


